
@{
    ViewData["Title"] = "Admin Panel";
}

<div class="wrapper">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3 text-center">Welcome ADMIN</h1>
            <p class="lead text-center">Please do NOT TROLL too much</p>
        </div>
    </div>
</div>

