li.disabled {
    pointer-events: none;
}

.centered-container {
    margin: 0 auto;
    text-align: center;
}

.review-container {
    background-color: #ffffff;
    border-bottom: 12px solid #eeeeee;
}

.review-info {
    padding-left: 51px;
}

#user-details {
    background-color: #eeeeee;
}

/*Navbar*/
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
    }
div.navbar.navbar-inverse.navbar-fixed-top {
    border-radius: 50px;
    padding: 0 20px;
}

.navbar-inverse .navbar-nav li a#search-homes-nav-btn {
    color: #ffffff;
    background-color: green;
}

    .navbar-inverse .navbar-nav li a#search-homes-nav-btn:hover {
        background-color: #006622;
    }

.navbar-inverse .navbar-brand {
    color: #117bf3;
}

.page-header {
    font-weight: bold;
}

#booking-create,
#guest-booking,
#host-bokings,
#waiting-reviews,
#done-reviews,
#create-review,
#home-details-wrapper,
#user-details {
    min-height: 90%;
}

#host-bokings {
    background-color: #e6e6e6;
}

#pending-table {
    background-color: #ffffff;
}

#booking-create {
    background-color: #001f3f;
}

    #booking-create * {
        color: #ffffff;
    }

    #booking-create input[type="submit"] {
        color: #001f3f;
        font-weight: bold;
        font-size: 20px;
    }

    #booking-create input[placeholder] {
        color: #001f3f;
    }

#myCarousel {
    padding: 0 !important;
    height: 300px;
}

#home-details-wrapper {
    background: #F5F5F5;
}

.wrapper > .page-header > a > img,
.wrapper tr td a img,
#waiting-reviews img,
.reviewer-picture
{
    max-width: 50px;
    display: inline-block;
}

.top-guest-picture {
    max-width: 100%;
    height: 139px;
    margin: 0 auto;
}

.top-guest-container {
    margin-bottom: 57px;
}

.guest-link {
    width: 100%;
}

#book-home-container {
    margin-top: 30px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    height: auto;
    max-width: 100%;
    line-height: 1;
    width: 100%;
}

dl {
    border: 3px double #ccc;
    padding: 0.5em;
}

dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
    color: green;
}

    dt::after {
        content: ":";
    }

dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
    word-wrap: break-word;
}

.item > img {
    width: 100%;
}

.wrapper {
    padding-top: 87px;
    padding-bottom: 50px;
}

.carousel-inner {
    width: 100%;
    max-height: 100%;
}


#search-homes-button {
    width: 100%;
}

/*homes listing styles*/

.margin-from {
    margin-top: 46px;
}

.bg-light-gray {
    background-color: #eeeeee;
}

section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

section h3.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
}

#homes .home-item {
    margin: 0 0 15px;
    right: 0;
}

    #homes .home-item .home-link {
        display: block;
        position: relative;
        max-width: 400px;
        margin: 0 auto;
    }

    #homes .home-item .home-caption {
        max-width: 400px;
        margin: 0 auto;
        background-color: white;
        text-align: center;
        padding: 25px;
    }

.home-caption > ul {
    list-style: none;
}

@media (min-width: 767px) {
    #homes .home-item {
        margin: 0 0 30px;
    }
}

#homes .home-item .home-link img {
    width: 100%;
    height: 192px;
}

#homes * {
    z-index: 2;
}

/*login form*/
input[type="text"],
input[type="password"],
input[type="number"],
select.form-control {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 3px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: black;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

    textarea,
    textarea.form-control {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 30px;
    }

        input[type="text"]:focus,
        input[type="password"]:focus,
        textarea:focus,
        textarea.form-control:focus {
            outline: 0;
            background: #fff;
            border: 3px solid #ccc;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder,
        textarea:-moz-placeholder, textarea.form-control:-moz-placeholder {
            color: #888;
        }

        input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder,
        textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder {
            color: #888;
        }

        input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder,
        textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder {
            color: #888;
        }

@media (min-width: 768px){
      .navbar-right {
          margin-right: 0 !important; 
      }


button#login-button,
button#register-button {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #4aaf51;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

    button#login-button:hover,
    button#register-button:hover {
        opacity: 0.6;
        color: #fff;
    }

    button#login-button:active,
    button#register-button:active {
        outline: 0;
        opacity: 0.6;
        color: #fff;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    button#login-button:focus,
    button#register-button:focus {
        outline: 0;
        opacity: 0.6;
        background: #4aaf51;
        color: #fff;
    }

    button#login-button:active:focus, button#login-button.active:focus,
    button#register-button:active:focus, button#register-button.active:focus {
        outline: 0;
        opacity: 0.6;
        background: #4aaf51;
        color: #fff;
    }

.btn-link-1 {
    display: inline-block;
    height: 50px;
    margin: 5px;
    width: 100%;
    background: #4aaf51;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

    .btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active {
        outline: 0;
        opacity: 0.6;
        color: #fff;
    }

    .btn-link-1.btn-link-1-facebook {
        background: #4862a3;
    }

    .btn-link-1 i {
        padding-right: 5px;
        vertical-align: middle;
        font-size: 20px;
        line-height: 20px;
    }

.btn-link-2 {
    display: inline-block;
    height: 50px;
    margin: 5px;
    padding: 15px 20px 0 20px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

    .btn-link-2:hover, .btn-link-2:focus,
    .btn-link-2:active, .btn-link-2:active:focus {
        outline: 0;
        opacity: 0.6;
        background: rgba(0, 0, 0, 0.3);
        color: #fff;
    }


/***** Top content *****/

.inner-bg > .container > div:first-of-type {
    margin-top: 100px;
}

.inner-bg {
    padding: 0 0 170px 0;
}

#login-container .top-content {
    background: url(../images/login-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#register-container .top-content {
    background: url(../images/register-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-content .text {
    color: #fff;
}

    .top-content .text h1 {
        color: #fff;
    }

.top-content .description {
    margin: 20px 0 10px 0;
}

    .top-content .description p {
        opacity: 0.8;
    }

    .top-content .description a {
        color: #fff;
    }

        .top-content .description a:hover,
        .top-content .description a:focus {
            border-bottom: 1px dotted #fff;
        }

.form-box {
    margin-top: 35px;
}

.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: #fff;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
}

.form-top-left {
    float: left;
    width: 75%;
    padding-top: 25px;
}

    .form-top-left h3 {
        margin-top: 0;
    }

.form-top-right {
    float: left;
    width: 25%;
    padding-top: 5px;
    font-size: 66px;
    color: #ddd;
    line-height: 100px;
    text-align: right;
}

.form-bottom {
    padding: 25px 25px 30px 25px;
    background: #eee;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}

    .form-bottom form textarea {
        height: 100px;
    }

    .form-bottom form button.btn {
        width: 100%;
    }

    .form-bottom form .input-error {
        border-color: #4aaf51;
    }

.social-login {
    margin-top: 35px;
}

    .social-login h3 {
        color: #fff;
    }

.social-login-buttons {
    margin-top: 25px;
}


/*Create home styles*/
#create-home-btn {
    width: 90%;
    font-size: 25px;
    font-weight: bold;
}

.reviewer-picture {
    margin-top: 7px;
}

#home-create {
    background: url(../images/home-create-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    #home-create label,
    #home-create h2,
    #home-create p,
    #home-create span.text-danger {
        color: #ffffff;
    }

/* alerts */
div.alert {
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

/*Guest pending bookings */
.list-group-item {
    margin-bottom: 10px;
    -webkit-box-shadow: 4px 5px 26px 11px rgba(0,0,0,0.84);
    -moz-box-shadow: 4px 5px 26px 11px rgba(0,0,0,0.84);
    box-shadow: 4px 5px 26px 11px rgba(0,0,0,0.84);
    background-color: #213E4A;
    border: none;
}

#guest-booking {
    background-color: #355664;
}

    #guest-booking,
    #guest-booking h4,
    #guest-booking > h2 {
        color: #ffffff;
    }

.list-group-item-heading {
    margin-bottom: 20px !important;
}

/*Host bookings*/
td, th {
    text-align: center;
}

    td.guest-info {
        text-align: left;
    }

#pending-table td,
#pending-table th {
    padding: 8px;
}

/* Personal hom detials */
#personal-home #myCarousel {
    margin-bottom: 10px;
}

#personal-home {
    background-color: #eeeeee;
}

    #personal-home .btn.btn-warning,
    #edit-home .btn{
        height: 54px !important;
        width: 132px !important;
        font-size: 29px;
    }

/*Edit home*/
#edit-home {
    background-color: #ccccff;
}

/*Waiting reviews*/
#waiting-reviews ul li {
    color: #ffffff;
}

#waiting-reviews ul li > * {
    margin-left: 10px;
}

#leav-review-btn {
    font-size: 20px;
    margin-left: 55px;
}

/* Create home review*/
#waiting-reviews,
#create-review,
#done-reviews{
    background-color: #cce6ff;
}


    #create-review input[type="submit"] {
        font-size: 30px;
    }

#evaluation-dropdown {
    width: 83px;
}

/*glyphicons */
.glyphicon-star {
    color: #e6c300;
}

/*Done home Reviews*/
.panel-heading a {
    padding-left: 7px;
}

/* Edit profile*/
    #edit-profile {
        background-color: #d9d9d9;
    }

#edit-img-container {
    margin-bottom: 26px;
}

    .btn-in-edit {
        height: 48px;
        font-size: 30px;
    }

    #admin-panel-btn {
        background-color: #e60000;
        color: #ffffff;
    }

        #admin-panel-btn:hover {
            background-color: #b30000;
        }