@using LendYourHome.Common.Constants
@model LendYourHome.Application.Models.ReviewsViewModels.ReviewCreateViewModel

@{
    ViewData["Title"] = "Review Home";
}

<div id="create-home-review" class="wrapper">
    <h2 class="page-header centered">Review @(TempData.ContainsKey(ApplicationConstants.TempDataHomeOwnerNameKey) ? $"{TempData[ApplicationConstants.TempDataHomeOwnerNameKey]}'s" : "") Home</h2>
    <div class="row">
        <div class="col-sm-4 col-xs-offset-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="HomeId" class="form-control" />
                <div class="form-group">
                    <label asp-for="Evaluation" class="control-label"></label>
                    @Html.DropDownListFor(m => m.Evaluation, Enumerable.Range(0, 6).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), new { @class = "form-control", id= "evaluation-dropdown" })
                    <span asp-validation-for="Evaluation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AdditionalThoughts" class="control-label"></label>
                    <textarea rows="7" asp-for="AdditionalThoughts" class="form-control"></textarea>
                    <span asp-validation-for="AdditionalThoughts" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-warning" />
                </div>
            </form>
        </div>
    </div>
</div>
