@model LendYourHome.Application.Models.HomesViewModels.HomeCreateViewModel

@{
    ViewData["Title"] = "Become Host";
}

<div id="home-create" class="wrapper">
    <h2 class="centered">@ViewData["Title"]</h2>
    <p class="centered text-muted">Add information about the home you are willing to lend.</p>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label asp-for="Country" class="control-label"></label>
                        <input asp-for="Country" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label asp-for="Sleeps" class="control-label"></label>
                        <input asp-for="Sleeps" min="1" class="form-control" />
                        <span asp-validation-for="Sleeps" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-4">
                        <label asp-for="Bedrooms" class="control-label"></label>
                        <input asp-for="Bedrooms" min="0" class="form-control" />
                        <span asp-validation-for="Bedrooms" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-4">
                        <label asp-for="Bathrooms" class="control-label"></label>
                        <input asp-for="Bathrooms" min="0" class="form-control" />
                        <span asp-validation-for="Bathrooms" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Additionalnformation" class="control-label"></label>
                    <textarea asp-for="Additionalnformation" rows="5" cols="40" class="form-control"></textarea>
                    <span asp-validation-for="Additionalnformation" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label asp-for="PricePerNight" class="control-label"></label>
                        <div class="input-group">
                            <div class="input-group-addon">&euro;</div>
                            <input asp-for="PricePerNight" min="0" class="form-control"/>
                        </div>
                        <span asp-validation-for="PricePerNight" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <label for="pictures" class="control-label">Add pictures of your home</label>
                        <input id="pictures" type="file" name="pictures" multiple />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-5">
                        <div class="checkbox">
                            <label>
                                <input asp-for="IsActiveOffer" /> @Html.DisplayNameFor(model => model.IsActiveOffer)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group centered">
                    <input id="create-home-btn" type="submit" value="Create" class="btn btn-info" />
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
