
@{
    ViewData["Title"] = "Home Page";
}

<section class="section-divider textdivider divider1">
    <div class="container" id="header-info">
        <h1>Become a citizen of the world</h1>
        <hr>
        <p>Find residence for your travels or even become HOST</p>
    </div><!-- container -->
</section><!-- section -->